/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.activePage a {
  color: rgb(167, 167, 167);
}
@media all and (max-width: 767px) {
  .Header,
  .navBar,
  .nav,
  .welcomeFull {
    display: none;
  }
  /* header */
  .mobile {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(29, 74, 134, 0.801);
    padding: 2%;
  }
  .mobile h1 {
    font-size: 16px;
    text-align: right;
    text-shadow: 0.01em 0.01em 0.09em black;
  }
  .mobile a {
    text-decoration: none;
  }
  .dropDown {
    display: none;
    width: 96%;
    position: absolute;
    top: 101%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
    transition: 0.5s;
  }
  .dropDown.active {
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1;
  }
  .dropDown button {
    width: 100%;
    background-color: rgb(29, 74, 134);
    border: solid 1px black;
    font-size: 20px;
    padding: 10px;
    text-shadow: 0.01em 0.01em 0.09em black;
  }
  #mobileNav {
    padding: 1%;
    border: outset 2px rgb(104, 103, 103);
    border-radius: 10px;
    background-color: black;
    align-items: center;
  }
  .phone {
    background-color: black;
    border: outset 2px rgb(104, 103, 103);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5px;
  }
  /* main content */
  .welcome,
  .testimonials {
    display: flex;
    background-color: rgba(29, 74, 134, 0.801);
    flex-direction: column;
    margin-top: 5px;
  }
  .text {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .welcome h1,
  .welcome p,
  .testimonials h1,
  .testimonials p {
    margin: 10px;
  }
  .welcome img {
    width: 95vw;
    margin: auto;
  }
  footer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(29, 74, 134, 0.801);
    margin-top: 5px;
  }
  .foot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .foot img {
    margin: 2px;
  }
  .legacy {
    display: flex;
    justify-content: flex-end;
  }
  .legacy img {
    width: 30%;
  }
  .interac {
    display: flex;
    justify-content: flex-start;
  }
  .payment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .payment img {
    width: 250%;
    margin-left: 150%;
  }
  .facebook {
    width: 15%;
  }
  /* About  */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(29, 74, 134, 0.801);
  }
  .container img {
    width: 49%;
    height: 120px;
  }
  .container section {
    margin: 5px;
  }
  .aboutpic1,
  .aboutpic2 {
    display: none;
  }
  /* About  */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(29, 74, 134, 0.801);
  }
  .container h1 {
    margin-bottom: 15px;
  }
  .container img {
    width: 49%;
    height: 100px;
  }
  .container section {
    margin: 15px;
  }
  .aboutpic1,
  .aboutpic2 {
    display: none;
  }
  /* Services */
  .services-container {
    background-color: rgba(29, 74, 134, 0.801);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
    font-size: 80%;
  }
  .gallery {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 1px;
  }
  .gallery img {
    width: 100px;
    height: 80px;
    border: outset 3px rgb(95, 95, 95);
    margin: 2px;
    transition: 0.5s ease;
  }
  .gallery img:hover,
  .gallery img:focus {
    border: outset 3px rgb(240, 240, 240);
  }
  .service-list,
  .service-list h1,
  .service-list h2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
  }
  ul {
    list-style-type: none;
    font-size: 105%;
  }
  /* contact */
  .contact-container {
    background-color: rgba(29, 74, 134, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contact-info,
  .map {
    margin: 10px;
  }
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .contact-info p {
    font-size: 100%;
    margin-top: 10px;
  }
  .contact-info h1 {
    font-size: 150%;
  }
  .contact-info h2 {
    font-size: 110%;
    margin-top: 10px;
  }
  iframe {
    width: 320px;
    height: 220px;
  }
}
@media all and (min-width: 768px) and (max-width: 1099px) {
  .Header,
  .navBar,
  .nav,
  .welcomeFull,
  .aboutpic1,
  .aboutpic2 {
    display: none;
  }
  /* header */
  .mobile {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(29, 74, 134, 0.801);
    padding: 2%;
  }
  .mobile h1 {
    font-size: 24px;
    text-align: right;
    text-shadow: 0.01em 0.01em 0.09em black;
  }
  .mobile a {
    text-decoration: none;
  }
  .dropDown {
    display: none;
    width: 96%;
    position: absolute;
    top: 101%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg);
    transition: 0.5s;
  }
  .dropDown.active {
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1;
  }
  .dropDown button {
    width: 100%;
    background-color: rgb(29, 74, 134);
    border: solid 1px black;
    font-size: 36px;
    padding: 10px;
    text-shadow: 0.01em 0.01em 0.09em black;
  }
  #mobileNav {
    padding: 1%;
    border: outset 2px rgb(77, 77, 77);
    border-radius: 10px;
    background-color: black;
    align-items: center;
  }
  .phone {
    background-color: black;
    border: outset 2px rgb(77, 77, 77);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 5px;
  }
  /* main content */
  .welcome,
  .testimonials {
    display: flex;
    background-color: rgba(29, 74, 134, 0.801);
    flex-direction: column;
    margin-top: 5px;
  }
  h1 {
    font-size: 250%;
  }
  p {
    font-size: 180%;
  }

  .welcome h1,
  .welcome p,
  .testimonials h1,
  .testimonials p {
    margin: 10px;
  }
  .welcome img {
    width: 97vw;
    margin: auto;
  }
  .text {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 5px;
  }
  .images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }
  .testimonials img {
    width: 140px;
    height: 130px;
  }
  footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(29, 74, 134, 0.801);
    margin-top: 5px;
  }
  .foot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .foot img {
    margin: 2px;
    width: 170%;
  }
  .legacy {
    display: flex;
    justify-content: flex-end;
  }
  .legacy img {
    width: 30%;
  }
  .payment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .facebook {
    width: 15%;
  }
  /* About  */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(29, 74, 134, 0.801);
  }
  .container h1 {
    margin-bottom: 15px;
  }
  .container img {
    width: 49.5%;
    height: 300px;
  }
  .container section {
    margin: 15px;
  }
  .aboutpic1,
  .aboutpic2 {
    display: none;
  }
  /* Services */
  .services-container {
    background-color: rgba(29, 74, 134, 0.801);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
    font-size: 150%;
  }
  .gallery {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px;
  }
  .gallery img {
    width: 200px;
    height: 150px;
    border: outset 3px rgb(95, 95, 95);
    margin: 2px;
    transition: 0.5s ease;
  }
  .gallery img:hover,
  .gallery img:focus {
    border: outset 3px rgb(240, 240, 240);
  }
  .service-list,
  .service-list h1,
  .service-list h2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .service-list h1 {
    font-size: 170%;
  }
  .service-list h2 {
    font-size: 105%;
  }
  ul {
    list-style-type: none;
  }
  /* contact */
  .contact-container {
    background-color: rgba(29, 74, 134, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contact-info,
  .map {
    margin: 10px;
    line-height: 55px;
  }
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .contact-info p {
    font-size: 220%;
    margin: 10px;
  }
  .contact-info h2 {
    font-size: 220%;
  }
  iframe {
    width: 800px;
    height: 500px;
  }
}
@media all and (min-width: 1100px) {
  .mobileHeader,
  #mobilImg,
  .welcome,
  .picsMobile {
    display: none;
  }
  .Header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: rgba(29, 74, 134, 0.801);
    text-shadow: 0.01em 0.01em 0.09em black;
    text-align: center;
    height: 172px;
    width: 100%;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: -15%;
    width: 90%;
  }

  .banner h2 {
    margin-left: -45%;
    margin-top: -25px;
    text-shadow: 0.01em 0.01em 0.09em rgb(255, 255, 255);
    color: rgb(48, 48, 48);
  }
  .Header h2 {
    font-size: 200%;
  }
  .Header a {
    text-decoration: none;
    transition: 0.5s;
  }
  .Header a:hover,
  .Header a:focus {
    text-shadow: 0.01em 0.01em 0.5em black;
    font-size: 110%;
  }
  #sportsCar {
    position: relative;
    top: 0px;
    z-index: -1;
  }
  .navBar {
    position: absolute;
    top: 172px;
    left: 25%;
    width: 50%;
  }
  .navBar nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navBar button {
    background-color: transparent;
    border: none;
    font-size: 150%;
    background-color: rgba(29, 74, 134, 0.801);
    padding: 5%;
    transition: 0.5s ease;
  }
  .navBar button:hover,
  .navBar button:focus {
    background-color: rgba(0, 0, 255, 0.5);
  }
  .navBar a {
    text-decoration: none;
    text-shadow: 0.01em 0.01em 0.09em black;
  }
  /* Main Content */
  .welcomeFull {
    display: flex;
    background-color: rgba(29, 74, 134, 0.801);
    margin-top: 5px;
  }
  .welcomeFull section {
    width: 70%;
  }
  .welcomeFull img {
    width: 30%;
    padding: 1%;
  }
  .testimonials {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(29, 74, 134, 0.801);
    margin-top: 5px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
  }
  .images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30%;
    margin: auto;
  }
  .images h1 {
    font-size: 170%;
  }
  .images img {
    width: 135px;
    height: 135px;
    margin: 5px;
  }
  .member {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  h1 {
    font-size: 200%;
    margin-right: 3px;
  }
  p {
    font-size: 180%;
  }
  .welcomeFull h1,
  .testimonials h1 {
    margin: 10px;
    text-shadow: 0.01em 0.01em 0.09em black;
  }
  .welcomeFull p,
  .testimonials p {
    margin: 10px;
    font-size: 130%;
  }
  footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(29, 74, 134, 0.801);
    margin-top: 5px;
  }
  .foot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .foot img {
    margin: 2px;
    width: 178%;
  }
  .legacy {
    display: flex;
    justify-content: flex-end;
  }
  .interac {
    display: flex;
    justify-content: flex-start;
  }
  .interac img {
    width: 65px;
  }
  .payment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .facebook {
    display: flexbox;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
    text-align: center;
    width: 8%;
  }
  /* About */
  .container {
    background-color: rgba(29, 74, 134, 0.801);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  .container h1 {
    margin: 10px;
    text-shadow: 0.01em 0.01em 0.09em black;
  }
  .container p {
    margin: 10px;
    font-size: 130%;
  }
  .about1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 62.5%;
  }
  .about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 62%;
    margin-left: 1%;
  }
  .container img {
    margin: 10px;
    width: 95%;
    height: 95%;
  }
  /* Services */
  .services-container {
    background-color: rgba(29, 74, 134, 0.801);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .gallery {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin: 10px;
  }
  .gallery img {
    width: 200px;
    height: 150px;
    border: outset 3px rgb(95, 95, 95);
    margin: 2px;
    transition: 0.5s ease;
  }
  .gallery img:hover,
  .gallery img:focus {
    border: outset 3px rgb(240, 240, 240);
  }
  .service-list h1 {
    margin-bottom: 20px;
    margin-top: -20px;
    text-shadow: 0.01em 0.01em 0.09em black;
  }
  .service-list h2 {
    margin-top: 20px;
    text-shadow: 0.01em 0.01em 0.09em black;
  }
  ul {
    line-height: 22px;
  }
  /* contact */
  .contact-container {
    background-color: rgba(29, 74, 134, 0.801);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contact-info,
  .map {
    margin: 10px;
    line-height: 45px;
  }
  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .contact-info p {
    font-size: 150%;
  }
  .contact-info h1,
  .contact-info h2 {
    text-shadow: 0.01em 0.01em 0.09em black;
  }
}
